body{
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: "Sulphur Point", sans-serif;
    font-weight: 300;
    font-style: normal;
    
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: lightgreen;
    font-size: 1.5rem;
    
}

main{
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: 20% 40% 40%;
    grid-template-rows: 10% 40% 40% 10%;
    grid-template-areas: "titulo titulo titulo"
                         "filtros galeria galeria"
                         "filtros galeria galeria"
                         "filtros botonesPaginacion botonesPaginacion";
}


.titulo{
    display: flex;
    justify-content: center;
    grid-area: titulo;
    font-size: 2rem;
}

.filtros{
    grid-area: filtros;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.galeria{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: lightcyan;
    padding: 2rem;
    gap: 2rem;
    grid-area: galeria;
    

}

.botones-paginacion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 1rem;
    grid-area: botonesPaginacion;

}
.foto{
    display: flex;
    justify-content: space-evenly;
}
img{
    width: 55%;
   
}

.footer{
    display: flex;
    padding: 1rem;
    background-color: lightgreen;
    justify-content: center;
    font-size: 1.5rem;

}